Source: boblight
Section: utils
Priority: optional
Maintainer: Michael Zanetti <michael.zanetti@guh.io>
Standards-Version: 3.9.7
Build-depends: debhelper (>= 9.0.0),
               dpkg-dev (>= 1.16.1~),
               libusb-1.0-0-dev,
               libstdc++6,

Package: boblight
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libboblight,
Description: Boblight, a daemon for controlling ambilights
  A daemon to control ambilights and moodlights

Package: libboblight
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
Description: Boblight, a daemon for controlling ambilights - client library
  A daemon to control ambilights and moodlights - client library

Package: libboblight-dev
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libboblight,
Description: Boblight, a daemon for controlling ambilights - development files
  A daemon to control ambilights and moodlights - development files
